Repository ISIS3510-202420-Team23/AndletSwift, pull requests merged in 2024-09, with the labels that each got.

#8 [Bug-fix] Bug fixxed and Auth persistance
  Andlet/Andlet/ViewModels/AuthenticationViewModel.swift
  Andlet/Andlet/Views/WelcomeViews/AuthenticationView.swift
  Andlet/Andlet/Views/WelcomeViews/ProfilePickerView.swift
  Andlet/Andlet/Views/WelcomeViews/WelcomeIndividualPageView.swift
  Andlet/Andlet/Views/WelcomeViews/WelcomePageView.swift
Labels: bug

#14 [Develop Hompage and detail] Done, user interaction
  Andlet/Andlet/Assets.xcassets/AppIcon.appiconset/AppIcon 1.jpeg
  Andlet/Andlet/Assets.xcassets/AppIcon.appiconset/AppIcon.jpeg
  Andlet/Andlet/Assets.xcassets/AppIcon.appiconset/Contents.json
  Andlet/Andlet/Models/OfferModel.swift
  Andlet/Andlet/Models/PropertyModel.swift
  Andlet/Andlet/ViewModels/Offers/OfferRentViewModel.swift
  Andlet/Andlet/ViewModels/Offers/OfferViewModel.swift
  Andlet/Andlet/Views/Helpers/Heading.swift
  Andlet/Andlet/Views/HomepageRent/HomepageRentView.swift
  Andlet/Andlet/Views/Offers/OfferRentView.swift
Labels: view

#17 [bugfix] Fix navigation issue
  Andlet/Andlet/Views/Forms/Step1View.swift
  Andlet/Andlet/Views/WelcomeViews/ProfilePickerView.swift
Labels: bug, view

#19 16 post in the db properties detail
  Andlet/Andlet.xcodeproj/project.pbxproj
  Andlet/Andlet/Models/OfferModel.swift
  Andlet/Andlet/Models/PropertyModel.swift
  Andlet/Andlet/ViewModels/Filters/FilterSearchOptions.swift
  Andlet/Andlet/ViewModels/Filters/FilterViewModel.swift
  Andlet/Andlet/ViewModels/Offers/OfferRentViewModel.swift
  Andlet/Andlet/ViewModels/Offers/OfferViewModel.swift
  Andlet/Andlet/ViewModels/Properties/PropertyOfferData.swift
  Andlet/Andlet/ViewModels/Properties/PropertyViewModel.swift
  Andlet/Andlet/Views/Filters/FiltersSearchView.swift
  Andlet/Andlet/Views/Forms/FormView.swift
  Andlet/Andlet/Views/Forms/Step1View.swift
  Andlet/Andlet/Views/Forms/Step2View.swift
  Andlet/Andlet/Views/Forms/Step3View.swift
  Andlet/Andlet/Views/Helpers/CustomInputField.swift
  Andlet/Andlet/Views/Helpers/CustomTextField.swift
  Andlet/Andlet/Views/Helpers/IconInputFiled.swift
  Andlet/Andlet/Views/Helpers/ImagePickerView.swift
  Andlet/Andlet/Views/Helpers/IncrementDecrementView.swift
  Andlet/Andlet/Views/Helpers/LocationInputField.swift
  Andlet/Andlet/Views/Helpers/MinutesFromCampus.swift
  Andlet/Andlet/Views/Helpers/PriceField.swift
  Andlet/Andlet/Views/Helpers/SelectableOptionsView.swift
  Andlet/Andlet/Views/Homepage/HomepageView.swift
  Andlet/Andlet/Views/HomepageRent/CreateMoreButton.swift
  Andlet/Andlet/Views/HomepageRent/HomepageRentView.swift
  Andlet/Andlet/Views/WelcomeViews/ProfilePickerView.swift
Labels: view

#20 Launch screen view
  Andlet/Andlet.xcodeproj/project.pbxproj
  Andlet/Andlet/Info.plist
  Andlet/Andlet/Launch Screen.storyboard
Labels: view
